<main>
	<div class = "what-is-it">
		
			<img src = "../../assets/images/city_design.jpg" />
		
		<div class = "content">
			<h2>City Traffic Challenge</h2>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur
			</p>
		</div>
	</div>

	<div class = "requirements">
		<h2>Requirements</h2>
		<ul>
			<li> Usage of Google Cloud API</li>
			<li>For front-end usage of HTML,CSS, Javascript</li>
			<li>For database, you can rely on MongoDb</li>
			<li>For this project, you cannot use any built in code before. </li>
		</ul>

	</div>

	<div class = "actions">
		<a href = "" class = "challenge">Take The Challenge</a>
	</div>


	

